@model IPagedList<TeachSpace.View_Models.InstructorListVM>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@{
    ViewData["Title"] = "Instructors List";
    Layout = "_AdvancedLayout";
}

<h1>Instructors List</h1>

<a asp-controller="Instructors"
   asp-action="Add"
   class="btn btn-success mb-3">
    + Add Instructor
</a>

<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>Instructor Name</th>
            <th>Department</th>
            <th>Courses</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var i in Model)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.DepartmentName</td>
                    <td>@i.CourseName</td>
                    <td>
                        <a asp-controller="Instructors"
                           asp-action="Edit"
                           asp-route-id="@i.Id"
                           class="btn btn-sm btn-primary">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No Instructors found.</td>
            </tr>
        }
    </tbody>
</table>

<br />
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
    {
        // These classes make the pager look like Bootstrap 5
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
        })
</div>